# Ignore everything in the root folder
*

# But don't ignore README.md
!README.md

# Don't ignore the Indicators folder and its contents
!Indicators/
!Indicators/**

# Don't ignore the Strategies folder and its contents
!Strategies/
!Strategies/**
