*.dll
*.resx
NinjaTrader.Vendor.cs
NinjaTrader.Custom.csproj
NinjaTrader.Custom.pdb
NinjaTrader.Custom.xml
BarsTypes
ChartStyles
DrawingTools
ImportTypes
MarketAnalyzerColumns
OptimizationFitnesses
Resource.Designer.cs
ResourceEnumConverter.cs
AssemblyInfo.cs
Optimizers
PerformanceMetrics
ShareServices
SuperDomColumns
